<div class="main-content">
  <div class="container-fluid">
    <div style="padding-bottom: 15px;">
          <button mat-raised-button type="button" class="btn btn-success pull-right" data-toggle="modal" data-target="#addModal">
            <i class="material-icons">add</i>
            Add New Product
          </button>
        </div>
    <div class="col-md-12" style="margin-top: 5em;">
        <div class="card">
            <div class="card-header card-header-info">
                <h3 class="card-title ">Products</h3>
                <p class="card-category text-primary">All Products List</p>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead class="text-primary text-center">
                            <th> Name </th>
                            <th> Description </th>
                            <th> Unit </th>
                            <th> Unit Price </th>
                            <th> Actions </th>
                        </thead>
                        <tbody>
                            <tr *ngFor="let product of products" class="text-center">
                                <td> {{product.name}} </td>
                                <td> {{product.description}} </td>
                                <td> {{product.unit}} </td>
                                <td> {{product.price}} </td>
                                <td>
                                    <button mat-raised-button type="button" (click)="openEditModal(product)" style="background-color: darkslateblue;" class="btn pull-right" data-toggle="modal" data-target="#editModal">
                                      <i class="material-icons">edit</i> 
                                      Edit
                                    </button> 
                                    <button mat-raised-button type="button" (click)="setDeleteId(product)" class="btn btn-danger pull-right" data-toggle="modal" data-target="#deleteModal">
                                      <i class="material-icons">delete</i> 
                                      Delete
                                    </button>
                                    <button mat-raised-button type="button" (click)="openPurchaseModal(product)" style="background-color:darkseagreen;" class="btn pull-right" data-toggle="modal" data-target="#purchaseModal">
                                      <i class="material-icons">shopping_cart</i> 
                                      Purchase
                                    </button>  
                                    
                                    <button mat-raised-button type="button" (click)="openSaleModal(product)" style="background-color:indianred;" class="btn pull-right" data-toggle="modal" data-target="#saleModal">
                                      <i class="material-icons">remove_shopping_cart</i> 
                                      Sale
                                    </button>  
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header" style="background-color:indianred">
                  <h3 class="modal-title" id="exampleModalLabel">Edit Product</h3>
                  <button type="button" #closeeditbutton class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <form>
                    <div>
                      <div class="form-group">
                        <label for="name"><b>Name</b></label>
                        <input required class="form-control" name="name" [(ngModel)]="productEditForm.name" placeholder="Enter Product Name" >
                      </div>
                      <div class="form-group">
                        <label for="description"><b>Description</b></label>
                        <input required class="form-control" name="description" [(ngModel)]="productEditForm.description"  placeholder="Enter Product Description">
                      </div>
                      <div class="form-group">
                        <label for="unit"><b>Unit</b></label>
                        <input required class="form-control" name="unit" [(ngModel)]="productEditForm.unit"  placeholder="Enter Unit">
                      </div>
                      <div class="form-group">
                        <label for="price"><b>Unit Price</b></label>
                        <input type="number" required class="form-control" name="price" [(ngModel)]="productEditForm.price"  placeholder="Enter Unit Price">
                      </div>
                    
                    </div>
                </form>

                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  <button type="button" class="btn btn-success" (click)="updateProduct()"  class="btn btn-primary">Update</button>
                </div>
              </div>
            </div>
          </div>

          <div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="addModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header" style="background-color:cornflowerblue">
                  <h3 class="modal-title" id="exampleModalLabel">Add New Product</h3>
                  <button type="button" #closeaddbutton class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <form>
                    <div>
                      <div class="form-group">
                        <label for="name"><b>Name</b></label>
                        <input required class="form-control" name="name" [(ngModel)]="productAddForm.name" placeholder="Enter Product Name" >
                      </div>
                      <div class="form-group">
                        <label for="description"><b>Description</b></label>
                        <input required class="form-control" name="description" [(ngModel)]="productAddForm.description"  placeholder="Enter Product Description">
                      </div>
                      <div class="form-group">
                        <label for="unit"><b>Unit</b></label>
                        <input required class="form-control" name="unit" [(ngModel)]="productAddForm.unit"  placeholder="Enter Unit">
                      </div>
                      <div class="form-group">
                        <label for="price"><b>Unit Price</b></label>
                        <input type="number" required class="form-control" name="price" [(ngModel)]="productAddForm.price"  placeholder="Enter Unit Price">
                      </div>
                    
                    </div>
                </form>

                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  <button type="button" class="btn btn-success" (click)="createProduct()">Add</button>
                </div>
              </div>
            </div>
          </div>

          <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="addModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header" style="background-color:darkorange">
                  <h3 class="modal-title" id="exampleModalLabel">Delete Product</h3>
                  <button type="button" #closedeletebutton class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <div>
                    <b>
                      Once you delete a product, you can not undo your action. Do you want to delete the product?
                    </b>
                  </div>

                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-success" data-dismiss="modal">No</button>
                  <button type="button" class="btn btn-danger" (click)="deleteProduct()">Yes</button>
                </div>
              </div>
            </div>
          </div>

          <div class="modal fade" id="purchaseModal" tabindex="-1" role="dialog" aria-labelledby="purchaseModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header" style="background-color:cornflowerblue">
                  <h3 class="modal-title" id="exampleModalLabel">Purchase {{selectedProduct.name}} </h3>
                  <button type="button" #closepurchasebutton class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <form>
                    <div>
                      <div class="form-group">
                        <label for="name"><b>Product</b></label>
                        <input disabled class="form-control" name="name" [(ngModel)]="selectedProduct.name" placeholder="Enter Product Name" >
                      </div>
                      <div class="form-group">
                        <label for="up"><b>Unit Price</b></label>
                        <input disabled class="form-control" name="up" [(ngModel)]="selectedProduct.price"  placeholder="Enter Product Description">
                      </div>
                      <div class="form-group">
                        <label for="quantity"><b>Quantity</b></label>
                        <input type="number" (input)="calculateTotalPrice($event)" required class="form-control" name="quantity" [(ngModel)]="stockForm.quantity"  placeholder="Enter Quantity">
                      </div>
                      <div class="form-group">
                        <label for="price"><b>Total Price</b></label>
                        <input type="number" disabled required class="form-control" name="price" [(ngModel)]="stockForm.totalprice"  placeholder="Enter Unit Price">
                      </div>
                    
                    </div>
                </form>

                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  <button type="button" class="btn btn-success" (click)="purchaseProduct()">Purchase</button>
                </div>
              </div>
            </div>
          </div>

          <div class="modal fade" id="saleModal" tabindex="-1" role="dialog" aria-labelledby="saleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header" style="background-color:cornflowerblue">
                  <h3 class="modal-title" id="exampleModalLabel">Sale {{selectedProduct.name}} </h3>
                  <button type="button" #closesalebutton class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <form>
                    <div>
                      <div class="form-group">
                        <label for="name"><b>Product</b></label>
                        <input disabled class="form-control" name="name" [(ngModel)]="selectedProduct.name" placeholder="Enter Product Name" >
                      </div>
                      <div class="form-group">
                        <label for="up"><b>Unit Price</b></label>
                        <input disabled class="form-control" name="up" [(ngModel)]="selectedProduct.price"  placeholder="Enter Product Description">
                      </div>
                      <div class="form-group">
                        <label for="quantity"><b>Quantity</b> <span style="color: red;"> [ Available Quantity {{ selectedProduct.quantity }} ] </span></label>
                        <input type="number" (input)="calculateTotalPrice($event)" required class="form-control" name="quantity" [(ngModel)]="stockForm.quantity"  placeholder="Enter Quantity">
                      </div>
                      <div class="form-group">
                        <label for="price"><b>Total Price</b></label>
                        <input type="number" disabled required class="form-control" name="price" [(ngModel)]="stockForm.totalprice"  placeholder="Enter Unit Price">
                      </div>
                    
                    </div>
                </form>

                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  <button type="button" class="btn btn-success" (click)="saleProduct()">Sale</button>
                </div>
              </div>
            </div>
          </div>
    </div>
  </div>
</div>
