<div class="main-content">
    <div class="container-fluid">
        <h4>Useful Links</h4>
        <div class="row" style="margin-bottom: 10px;">
            <div class="col-md-4">
                <button mat-raised-button class="btn btn-primary" (click)="redirectOnClick('products')">
                    <i class="material-icons">content_paste</i>
                    Products
               </button>
            </div>
            <div class="col-md-4">
                <button mat-raised-button class="btn btn-info" (click)="redirectOnClick('typography')">
                    Reports
               </button>
            </div>

        </div>
        <hr>

        <h4>All Products List</h4>
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-info">
                        <h3 class="card-title ">Stock List</h3>
                        <p class="card-category text-primary">All Products Stock List</p>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-hover">
                                <thead class="text-primary text-center">
                                    <th> Name </th>
                                    <th> Description </th>
                                    <th> Unit </th>
                                    <th> Unit Price </th>
                                    <th> Quantity </th>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let product of products" class="text-center">
                                        <td> {{product.name}} </td>
                                        <td> {{product.description}} </td>
                                        <td> {{product.unit}} </td>
                                        <td> {{product.price}} </td>
                                        <td> {{product.quantity}} </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>
  